/* nunito-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/nunito-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-700 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
src: url('../assets/nunito-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/open-sans-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
/* anchor smooth jump setting */
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
 
h1 {
  font-size: 2.5rem; 
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 1.375rem;
  font-family: "Nunito", san-serif;
  font-weight: 500;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

a {
  color: var(--input-label-color); 
  text-decoration: none;
}
 
button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

input, 
textarea{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 8px; 
  font-size: 1rem;
  padding: 0.5em; 
  border: solid 2px var(--base-color);
}

textarea {
  resize: vertical; 
}

/* input[type="date"] {
  width: 50%;
} */

input[type="checkbox"] {
  width: 1.25em;
  height: 1.25em;
}

input:read-only, 
textarea:read-only {
  background-color: var(--base-color);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 7.25em; 
  background: linear-gradient(var(--accent-color), white);
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 100; 
  padding-top: 1em; 
}

.header__logo-container {
  text-align: center; 
} 

.header__logo {
  display: inline-block;
}

.header__logo-img {
  width: 6em; 
  height: auto; 
}

.nav__item {
  display: inline-block; 
  color: var(--input-label-color);
  padding: 0.5em 0.75em; 
}

.nav__item a {    
  font-size: 1.125rem;
}

.nav__item a:hover, 
.nav__item a:active {
  border-bottom: solid 2px var(--secondary-color);
  transition: 0.1s; 
}

.hero {
  width: 70%;
  margin: 0 auto;
  padding: 7.25em 0 4em 0; /* keep the content from going under header */
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.hero__img {
  display: block; 
  width: 40%;
  height: auto;
  min-width: 7.5em; 
  background-repeat: no-repeat; 
  object-fit: cover;
}

.hero__title {
  display: inline-block;
  font-size: 2rem;  
  line-height: 1.3; 
  padding-top: 0.5em; 
  text-align: center; 
}

.hero__subtitle {
  font-size: 1.125rem;
  color: var(--text-muted-color);
  padding-top: 0.75em; 
}

.hero__link--start {
  font-size: 1.25rem; 
  display: inline-block;
  padding: 0.5em 1em; 
  color: var(--main-color);
  border: solid 3px var(--main-color);
  border-radius: 8px; 
  margin-top: 1.75em; 
}

.hero__link--start:hover, 
.hero__link--start:active {
  color: white; 
  background-color: var(--main-color);
  transition: 0.3s; 
}

.hero__link--start:active {
  transform: scale(0.95);
}
   
.main {
  width: 75%;
  margin: 0 auto;
  position: relative; 
}

.form__section {
  margin-top: 5em; 
  scroll-margin-top: 7.25em; /* keep the section from being hidden under the header on nav click */
}

.form__section .row {
  margin-bottom: 0.875em; 
  justify-content: space-between; 
}

.form__block--education + .form__block--education, 
.form__block--experience + .form__block--experience {
  margin-top: 1.5em;
  padding-top: 2.5em;
  border-top: dotted 1.5px var(--text-muted-color);
  position: relative; 
}

.form__field {
  padding-bottom: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form__label {
  font-size: 0.875rem;
  color: var(--text-muted-color);
}

.form__legend {
  font-size: 0.875rem; 
  padding-left: 0;
  padding-bottom: 0.5em; 
  color: var(--text-muted-color);
}

.form__fieldset {
  padding-bottom: 0.75em;
}

.form__fieldset .form__label {
  font-size: 0.75rem; 
  color: var(--text-muted-color);
}

.form__fieldset .form__label--checkbox {
  font-size: 14px;
}

.form__field--dates {
  margin-left: 1em; 
}

.end-date--checkbox, 
.to-date--checkbox {
  display: flex;
  align-items: center;
  background-color: var(--accent-color-light);
  border-radius: 5px;
}

.form__label--checkbox {
  margin-left: 0.75em; 
}

.form__buttons {
  padding-top: 0.75em;
  text-align: center;
}

.form__button:hover, 
.form__button:active {
  opacity: 0.7; 
  transition: 0.3s; 
}

.form__button:active {
  transform: scale(0.95);
}

.form__button + .form__button {
  margin-left: 0.75em;
}

.form__button--edit, 
.form__button--save {
  background-color: var(--secondary-color);
  color: white; 
  font-size: 0.875rem;
  border-radius: 25px;
  display: inline-flex; 
  align-items: center;
  gap: 0.5em; 
}

.form__button--add-education,
.form__button--add-experience {
  margin-bottom: 1.375em; 
  color: var(--secondary-color); 
  background-color: white; 
  border: solid 2px var(--secondary-color); 
  border-radius: 0.5em;
  font-size: 1rem;
  display: inline-flex; 
  align-items: center;
  gap: 0.5em; 
}

.form__button--clear {
  background-color: white; 
  top: 2.5em;  
}

.form__button--delete {
  position: absolute; 
  right: 0;
  top: 2.5em; 
  background-color: white;
  padding: 0.25em;  
  border-radius: 10px; 
}

.svg--delete, 
.svg--clear {
  width: 20px; 
  height: auto;
  stroke: var(--secondary-color);
}

.svg--edit, 
.svg--save, 
.svg--add {
  width: 16px; 
  height: auto;
}

.svg--preview {
  width: 24px; 
  height: auto; 
}

.form__button--preview {
  position: sticky;
  color: white; 
  left: 85%; 
  bottom: 0.5em; 
  background-color: var(--main-color-transparent);
  font-size: 0.75rem;
  border-radius: 50%; 
  z-index: 10; 
}

.footer {
  font-size: 0.75rem; 
  text-align: center; 
  padding-bottom: 1em; 
}

.footer a {
  text-decoration: underline; 
}


@media (min-width: 750px) {
        
  input[type="date"] {
    width: 50%;
  }

  .header {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    padding: 0;
  }

  .header__logo-img {
    width: 8em; 
    height: auto; 
  }
  
  .nav {
  display: flex;
  padding: 0; 
  }
 
  .nav__list {
   margin-right: 3.5em; 
  }
  
  .nav__item {
    padding: 0;
  }
  
  .nav__item a {
    font-size: 1.375rem; 
    margin-right: 1.125em; 
  }
  
  .hero {
    padding-top: 9em;
  }

  .hero__title {
    font-size: 2.5rem; 
  }

  .hero__subtitle {
    font-size: 1.5rem; 
  }
  
  .form {
    width: 65%;
    margin: 0 auto; 
  }
  
  .form__section {
    scroll-margin-top: 9em;
  }
  
  .form__title {
    font-size: 1.5rem; 
  }

  .end-date--checkbox, 
  .to-date--checkbox {
    width: 50%;
  }

  .form__buttons {
    text-align: right;
  }
  
  .form__buttons-horizontal {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
  }
  
  .form__button--add-education, 
  .form__button--add-experience {
    margin: 0;
  }
  
  .form__button--preview {
    font-size: 1rem;
    left: 80%;
  }

  .form__button--delete {
    top: 2em; 
  }

  .svg--delete, 
  .svg--clear, 
  .svg--delete {
    width: 24px; 
  }

  .svg--edit,
  .svg--save, 
  .svg--add {
    width: 20px; 
  }

  .svg--preview {
    width: 32px; 
  }

}

.completed {
  background-color: var(--accent-color-light);
}

